*{
	margin:0;
	padding: 0;
}

.menu{
    width: 15%;
    height: 300px;
    margin: auto;
    /*background: #f5f5f5;*/
   text-align: center;
    position: fixed;
    padding-top: 10px;
    float: left;
    margin-top: 350px;
    /*margin-left: 100px;*/
    /*position: absolute;*/
    z-index: 1;

}

.menu ul{
	display: flex;
	justify-content: center;
	float: left;
	/*width: 2/0%;*/
	text-align: center;
}
.menu ul li{
	list-style: none;
text-align: center;

}
.menu ul li a{
	text-decoration: none;
	display: block;
	padding: 5px 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.headd nav a:hover{
	color: red;
}
.part{
	width: 100%;
	height: auto;
}
.main{
	padding-top: 80px;
	color: #fff;
}
.noi-dung{
	width: 100%;
	height: auto;
	background: #fff;
}
.part h2{
	color: white;
	opacity: 0.8;
	text-align: center;
	font-size: 70px;
	margin-top: 100px;
}
.part-1{
	background: linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.5)), url(../images/72.jpg) no-repeat top center fixed;
	height: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.part-2{
	background: linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.5)), url(../images/72.jpg) no-repeat top center fixed;
background-size: 100% 100%;
	background-repeat: no-repeat;height: auto;
}
.part-3{
	background: linear-gradient(rgba(23, 22, 23, 0.5), rgba(23, 22, 23, 0.5)), url(../images/72.jpg) no-repeat top center fixed;
background-size: 100% 100%;
	background-repeat: no-repeat;height: auto;
}