*{
	margin: 0;
	padding: 0;
}
a{
	color: #28313b;
	text-decoration: none;
}
body{
	background-color: #f4f6f8;
	font-family: 'Spicy Rice', cursive;
	font-size: 16px;
	font-weight: 400;
	color: #28313b;
	line-height: 1.15;
}
.row{
	margin-left: -15px;
	margin-right: -15px;	
}
.section_1{
	padding: 20px;
}
.section_1_2{
	text-align: right;
}
.section_2{
	margin-top: 10px;
	padding: 40px;
}
.section_2_3{
	text-align: right;
}
.section_3{
	margin-top: 100px;
}
.block{
	float:left;
	width: calc(100% - 15px);
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 30px;
}
.block h3{
	color: #ff5912;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 25px;
}
.categories a{
	font-size: 14px;
	font-weight: 500;
	float:left;
	width: 100%;
	padding: 10px 0;
}
.PriceFiltter input[type=number]{
	width: 40px;
	height: 20px;
	margin-top: 20px;
}
.sizes li{
	padding: 5px 0;
	list-style: none;
}
.sizes input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.sizes li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.sizes li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.sizes li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.brands li{
	padding: 5px 0;
	list-style: none;
}
.brands input[type=checkbox]{
	margin-right: 5px;
	display: none;
}
.brands li label:before{
	content: " ";
	width: 3px;
	height: 3px;
	border:5px solid #f4f6f8;
	background-color: #f4f6f8;
	display: inline-block;
	margin-right: 10px;
}
.brands li input[type=checkbox]:checked + label{
	color: #ff5912;
}
.brands li input[type=checkbox]:checked + label:before{
	border:5px solid #ff5912;
}
.exeem{
	float:left;
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 30px;
}
.circle{
	text-align: center;
	margin-left: 15px;
	width: calc(100% - 30px);
}
.rows{
	margin-top: 5px;	
}
.circle span{
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #ff5912;
	border:1px solid #ff5912;
	border-radius: 100%;
 }
.item{
	float:left;
	width: calc(100% / 3 - 0px);
	text-align: center;
	padding:0 15px 30px;
}
.item .item-content{
	float:left;
	width: 100%;
	background-color: #ffffff;
	height: 312px;
}
.item .item-content img{
	margin-top: 10px;
}
.item1 p{
	padding-top: 20px;
}
#price-tag1{
	color: #ffb69e;
}
.section_4{
	margin-left: 105px;
	margin-top: 100px;
}
.section_4_1{
	padding: 40px;
	margin-top: 20px;
	text-indent: 20px;
}
#New-letter{
	color : #ff5912;
	font-size: 18px;
}
.section_4_2{
	padding: 40px;
	margin-top: 20px;
}
.section_4_2_2 a img{
	margin-top: -15px;
	margin-left: 50px;
}